#frame{
  
    background-image:url("../img/notebook-4839909_1920.jpg");
    background-size:60em 40em;
    height:40em;
    width:60em;
    display:flex;
    align-items:center;
    justify-content:center;
}