#toDoList{
    height:73%;
    width:28%;
    margin-left:-23%;
    display:flex;
    flex-direction:column;
   div{
       
        margin-top:-5%;
        margin-bottom:5%;
        align-self:center;
        width:100%;
        text-align:center;
        display:flex;
        h1{
            
        }
        span{
            margin-left:auto;
            margin-right:-5%;
           font-size:1.2em;
        }
    }
    section{
        margin-bottom:1%;
        height: 10%;
        width:95%;
        display:flex;
        flex-direction:row;
        align-items:center;
        
        p{
            display:flex;
            justify-content:center;
            align-items:center;
            margin-left:5%;
            width:80%;
            height:80%;
            background-color:rgba(255, 255, 255, 0.288);
        }
        input{
            
            margin-left:auto;
            padding:1%;
        }
    }



    form{
            display:flex;
            flex-direction:row;
            height:10%;
        input{
            background-color:rgba(0,0,0,0);
            width:80%;
  
        }
        button{
            background-color:rgba(0,0,0,0);
        }
    }
}