#toDoList{
    height:73%;
    width:28%;
border-style:dotted;
border-color:black;
    margin-left:-23%;
    display:flex;
    flex-direction:column;
    h1{
        margin-right:30%;
        margin-top:-5%;
        margin-bottom:5%;
        align-self:center;
        width:50%;
        text-align:center;
   
    }
    section{
        margin-bottom:1%;
        height: 10%;
        width:95%;
        border-style:solid;

    }
    form{
            display:flex;
            flex-direction:row;
            height:10%;
        input{
            background-color:rgba(0,0,0,0);
            width:80%;
  
        }
        button{
            background-color:rgba(0,0,0,0);
        }
    }
}